*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 
}


@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

body{
  background-image: url(../public/mainPage/1x/Mesa\ de\ trabajo\ 1\ copy.png);
  font-family:'Gaegu', cursive;
  
}

body .dark_theme{
  background-image: url(../public/darkTheme/darkBG.png);
}
