.dark_theme  .links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: medium;
    font-size: 22px;
}

.dark_theme .btn_catalog   {
    background-image: url(/../front/public/mainPage/1x/button.png);
    width: 320px;
    height: 55px;
    background-size: cover;
    border: none;
    color: #e5f3f3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 590px;
    font-weight: bold;
    font-size: 50px;
}