* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    width: 900px;
    margin: 0 auto; 
    gap: 5px;   
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;    
}

.NewImageButton {
   
}
/* ДЗ
1 картинку растянуть в гриде на 2 строки и 2 столбца */





